@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;

  .nav-ul {
    display: flex;
    list-style: none;
    gap: 24px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

button {
  padding: 6px 24px;
  background-color: #d01c28;
  color: #ffffff;
  height: 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #5f5e5e;
  font-weight: 500;
}

main {
  max-width: 1280px;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;

  .hero-title-top {
    max-width: 595px;
    font-size: 108px;
    font-weight: 700;
    line-height: 110px;
    margin: 0;
  }

  .hero-title-paragraph {
    max-width: 390px;
  }

  .hero-title-buttons {
    max-width: 240px;
    display: flex;
    justify-content: space-between;
  }
}
